<div class="row">
  <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
   <div class="row">
    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
         <jqxTree #myTree  [source]="records" (onSelect)="myTreeOnSelect($event)"></jqxTree>
    </div>
    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
        <div class="row">
         <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
           <jqxGrid   [autoheight]="true" [source]="dataAdapter2" [columns]="columns" [columnsresize]="true">
           </jqxGrid> 
         </div>
        </div>
        <div class="row">
         <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                <jqxTreeGrid #myTreeGrid [width]="400"
                 [source]="dataAdapter3" [columns]="columns2"
                [pageable]="true" [sortable]="true">
                </jqxTreeGrid>   
         </div>
        </div>               
                       
                        <div class="row">
                                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                                       
                                                <button type="button" class="btn btn-primary btn-sm" (click)="onClicValor()">Guardar</button>
                                       
                                       
                                                <input class="form-control form-control-sm"  style="width:100%"  [(ngModel)]="puntaje" [disabled]="habilitarInputPuntaje" />
                                       
                                </div> 
                             </div>        
                </div>
             </div>    
             <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                       
                </div> 
             </div>      
             
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
               
        </div>
</div>

<div class="row">
    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
           
     
    </div>
    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
            
                <div class="row" style="margin-top:10px">
                      
                   
                   
                </div>                                              
    </div>

</div>
<div class="row">
       
</div>

