<div class="card border-primary mb-3">
        <div class="card-header ">
                <h4 class="card-title">
                  <small class="description" style="font-size:14px;color:blue">Descripción y creación de Políticas</small>
                </h4>
              </div>
              
              <div class="card-body">                           
                    <table id="dataInstrumentos" class="table table-striped table-bordered" style="width:100%">                     
                                        
                        </table>
                </div>
</div>